/*................................................................................................................................................................................................................................................................................................................................................................................Flexbox.........................................................................................................................................................................................................................................................................................................................................................................................*/

.aside li{
    list-style-type: none;
    padding: 5px;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}



@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }

    .flexCity {
        display: flex;
        justify-content: center;
    }

    .flexZip {
        display: flex;
        justify-content: center;
    }

    .flexSummary {
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }

    .flexImgBox {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

body {
    padding: 2em;
}


/*............................................................................................................................................................................................................................................................................................................................................................................NonFlexbox..........................................................................................................................................................................................................................................................................................................................................................................................

#webHead {
    color: #ffffff;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
*/
