/****************************
*      Flexbox Styling      *
*****************************/
@media (max-width: 45em) {
    #title {
        font-size: 95%;
        margin: 35px;
    }
    #newstitle {
        font-size: 95%;
        margin: 35px;
    }
    #webtitle {
        font-size: 95%;
        margin: 35px;
    }

}
@media (max-width: 40em) {
    #title {
        font-size: 90%;
        margin: 5px;
        margin: 35px;
        color: green;
    }
    #newstitle {
        font-size: 90%;
        margin: 5px;
        margin: 35px;
    }
    #webtitle {
        font-size: 90%;
        margin: 5px;
        margin: 35px;
    }

}

main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    list-style-type: none;
}

li {
    list-style-type: none;
}
#titlestuff {
    display: flex;
    flex-direction: column;
    position: relative;
}

#title {
    align-self: center;
    color: white;
    position: absolute;
    top: 1%;
    left: 43%;
}

#titleimg {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 12px;
}

#newsimg {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 12px;
}

#newstitle {
    align-self: center;
    color: white;
    position: absolute;
    top: 1%;
    left: 43%;
}

#webtitle {
    color: white;
    position: absolute;
    top: 1%;
    left: 43%;
}

#flex-video{
    display: flex;
}

iframe {
    display: flex;
    flex-grow: .5;
    height: 300px;
}

.aside {
    display: flex;
    flex-grow: 1;
}
#newsbox1 {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

#newsbox2 {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.storebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#contactus {
    color: white;
}
/****************************
*Styling for the Background *
*****************************/

body {
    background: url("../images/evoearth_1498.jpg");
    background-size: auto;
    background-repeat: repeat;
}

#background {
    background-color: white;
}


.navigation {
    list-style: none;
    margin: 0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background: deepskyblue;
    display: flex;
    justify-content: center;

}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: darken(deepskyblue, 20%);
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
