@import url('https://fonts.googleapis.com/css?family=Sansita');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', "second choice", sans-serif;
}

* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
    box-sizing: border-box;
}

.site-name {
    font-weight: 600;
}

#page-header {
    border-style: solid;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#logo {
   width: 20%;
    padding-right: 5px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
}

.overview {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.flexAlignTemps {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}

footer {
    margin-bottom: 60px;
}

footer ul {
    list-style: none;
}
/*article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}*/

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}
