@import url('https://fonts.googleapis.com/css?family=Sansita');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', "second choice", sans-serif;

}

main h2 {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
    box-sizing: border-box;
}

.site-name {
    font-weight: 600;
}

#page-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: #0e89d5;
}

#logo {
   width: 20%;
    padding-right: 5px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/************************ Nav Stuff********************************/

ul.topnav li.right,

ul.topnav li {float: none;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/********************************************************************/


main {
    background-image: url("/weather/images_weather/raindrops.jpg");
    background-size: cover;
}
main div {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.overview {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    flex-basis: 20%;
    margin: 20px;
}

.flexAlignTemps {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

}

.cur_conditions{
    border: 2px solid black;
    margin: 20px;
    flex-basis: 20%;
}

.hourly{
    display: none;

}

footer {
    background: #0e89d5;
}

footer ul {
    list-style: none;
}

/*article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}*/

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}
/* For Screens larger than phone width */

@media screen and (min-width: 480px) {

    /*Displays "Hourly" content box*/
    .hourly {
        display: inline;
        border: 2px solid black;
        margin: 20px;
        flex-basis: 20%;
    }

    /*Changes nav from vertical flow to horizontal flow*/

    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.topnav li.right {float: right;}
}
